@model Escolar32.Models.Receita

<h1>Apagar Despesa</h1>

<div>
    <h4>Despesa</h4>
    <hr />
    <dl class="row" style="margin-left: 50px;">
        <dt class = "col-sm-12">
            @Html.DisplayNameFor(model => model.ReceitaNome)
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.ReceitaNome)
        </dd>
        <dt class="col-sm-12">
            @Html.DisplayNameFor(model => model.DataReceita)
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.DataReceita)
        </dd>
        <dt class="col-sm-12">
            @Html.DisplayNameFor(model => model.ReceitaDetalhe)
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.ReceitaDetalhe)
        </dd>
        <dt class = "col-sm-12">
            @Html.DisplayNameFor(model => model.ValorReceita)
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.ValorReceita)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ReceitaId" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Despesas">Voltar para a lista</a>
    </form>
</div>
